<section data-ng-controller="DevicesController" data-ng-init="findOne()">
  <div class="page-header">
    <h1>Edit Device</h1>
  </div>
  <form class="form-horizontal" data-ng-submit="update()" novalidate>
    <fieldset>
      <label class="control-label" for="particleID">Particle ID</label>
      <div class="controls input-group">
        <input class="form-control" data-ng-model="device.particleID" id="particleID" placeholder="Enter Particle ID here" type="text"></input>
        <span class="input-group-btn">
          <button class="btn btn-default" ng-click="attachParticle()" ng-hide="device.attached" type="button">Attach Particle</button>
          <button class="btn btn-default" ng-click="detachParticle()" ng-show="device.attached" type="button">Detach Particle</button>
        </span>
      </div>
      <label class="control-label" for="name">Name</label>
      <div class="controls input-group">
        <input class="form-control" data-ng-model="device.name" id="name" placeholder="Enter device name here" required type="text"></input>
        <span class="input-group-btn">
          <button class="btn btn-default" ng-class="{disabled: !device.attached}" ng-click="flashFirmware()" type="button">Flash Firmware</button>
        </span>
      </div>
      <label class="control-label" for="serialNumber">Serial Number</label>
      <div class="controls input-group">
        <input class="form-control text-uppercase" data-ng-model="device.serialNumber" id="serialNumber" placeholder="Enter device serial number here" type="text"></input>
        <span class="input-group-btn">
          <button class="btn btn-default" ng-class="{disabled: !device.attached}" ng-click="writeSerialNumber()" type="button">Write Serial Number</button>
        </span>
      </div>
      <label class="control-label" for="calibrationSteps">Calibration Steps</label>
      <div class="controls input-group">
        <input class="form-control" data-ng-model="device.calibrationSteps" id="calibrationSteps" placeholder="Enter number of steps to move device to zero mark" type="text"></input>
        <span class="input-group-btn">
          <button class="btn btn-default" ng-class="{disabled: !device.attached}" ng-click="moveToAndSetCalibrationPoint()" type="button">Save and Move to Calibration Point</button>
        </span>
      </div>
      <br/>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <b>Dates</b>
          </div>
          <div class="panel-body">
            <label class="control-label" for="manufacturedOn">Manufactured On</label>
            <div class="controls">
              <p class="input-group">
                <input class="form-control" close-text="Close" datepicker-popup="MMM d, y" is-open="openedMfg" ng-change="setRegMinDate()" ng-model="device.manufacturedOn" type="text"></input>
                <span class="input-group-btn">
                  <button class="btn btn-default" ng-click="openDatepicker($event, 'mfg')" type="button">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </button>
                </span>
              </p>
            </div>
            <label class="control-label" for="registeredOn">Registered On</label>
            <div class="controls">
              <p class="input-group">
                <input class="form-control" close-text="Close" datepicker-popup="MMM d, y" is-open="openedReg" min-date="minRegDate" ng-model="device.registeredOn" type="text"></input>
                <span class="input-group-btn">
                  <button class="btn btn-default" ng-click="openDatepicker($event, 'reg')" type="button">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </button>
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <b>Device Model</b>
          </div>
          <div class="panel-body">
            <div class="list-group">
              <a active class="list-group-item {{dm._id === deviceModel._id ? 'active' : ''}}" href='' ng-repeat="dm in deviceModels" ng_click="selectDeviceModel('{{dm._id}}')">{{dm.name}}</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <b>Device Pool</b>
          </div>
          <div class="panel-body">
            <div class="list-group">
              <a active class="list-group-item {{dp._id === devicePool._id ? 'active' : ''}}" href='' ng-repeat="dp in devicePools" ng_click="selectDevicePool('{{dp._id}}')">{{dp.name}}</a>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group col-md-12">
        <input class="btn btn-default" type="submit" value="Update"></input>
        <div class="text-danger" data-ng-show="error">
          <strong data-ng-bind="error"></strong>
        </div>
      </div>
    </fieldset>
  </form>
</section>
