<section data-ng-controller="DevicesController" data-ng-init="find()">
  <div class="page-header">
    <button class="btn btn-md btn-default pull-right glyphicon glyphicon-refresh" ng-click="refresh()" type="button"></button>
    <h1>Devices</h1>
    <div class="btn-group" role="group" aria-label="...">
      <button type="button" ng-disabled="!unassigned ? 'disabled' : ''" ng-click="refresh()" class="btn btn-default">Pooled</button>
      <button type="button" ng-disabled="unassigned ? 'disabled' : ''" ng-click="loadUnassigned()" class="btn btn-default">Unassigned</button>
    </div>
    <h4 ng-show="devices.length && !unassigned">Pool: <a href="#!/device-pools/{{devices[0]._devicePool._id }}">{{devices[0]._devicePool.name}}</a></h4>
    <h4 ng-show="!devices.length && !unassigned">Choose a device pool from the user menu</h4>
  </div>
  <div class="list-group">
    <a class="list-group-item" data-ng-href="#!/devices/{{device._id}}/edit" data-ng-repeat="device in devices">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="device.created | date:'medium'"></span>
        by
        <span data-ng-bind="device.user.displayName"></span>
      </small>

      <h4 class="list-group-item-heading">
        {{device.name}}<span class="badge pull-right" ng-class="{'btn btn-success': device.connected, 'btn btn-danger': !device.connected}"}>{{device.connected ? 'Online' : 'Offline'}}</span>
      </h4>
      <p class="list-group-item-heading">{{device._deviceModel.name}} (SN: {{device.serialNumber}})</p>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-hide="!devices.$resolved || devices.length">
    No Devices yet, why don't you
    <a href="/#!/devices/create">create one</a>?
  </div>
</section>
