<section data-ng-controller="DevicesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="device.name"></h1>
	</div>
	<div>
		<ul class="list-group">
			<li class="list-group-item"><b>Model: </b>{{device._deviceModel.name | date: mediumDate}}</li>
			<li class="list-group-item"><b>Serial Number: </b>{{device.serialNumber}}</li>
			<li class="list-group-item"><b>Spark: </b>{{device._spark.name | date: mediumDate}}</li>
			<li class="list-group-item"><b>Online: </b>{{device.online}}</li>
			<li class="list-group-item"><b>Status: </b>{{device.status}}</li>
			<li class="list-group-item"><b>Calibration Steps: </b>{{device.calibrationSteps}}</li>
			<li class="list-group-item"><b>Manufactured On: </b>{{device.manufacturedOn | date: mediumDate}}</li>
			<li class="list-group-item"><b>Registered On: </b>{{device.registeredOn | date: mediumDate}}</li>
		</ul>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == device.user._id))">
		<a class="btn btn-primary" href="/#!/devices/{{device._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="device.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="device.user.displayName"></span>
		</em>
	</small>
</section>
