<section data-ng-controller="HealthcareProvidersController" data-ng-init="findOne()">
  <div class="page-header">
    <h1 data-ng-bind="healthcareProvider.name"></h1>
  </div>
  <div>
    <h4>Addresses</h4>
    <accordion close-others="true">
      <accordion-group ng-repeat="address in addresses" heading="{{address.location}}">
        <ul class="list-group">
					<li class="list-group-item">Street 1: {{address.street1}}</li>
					<li class="list-group-item">Street 2: {{address.street2}}</li>
					<li class="list-group-item">City: {{address.city}}</li>
					<li class="list-group-item">State: {{address.state}}</li>
					<li class="list-group-item">Zipcode: {{address.zipcode}}</li>
        </ul>
      </accordion-group>
    </accordion>
  </div>
  <div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == healthcareProvider.user._id))">
    <a class="btn btn-primary" href="/#!/healthcare-providers/{{healthcareProvider._id}}/edit">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="remove();">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span data-ng-bind="healthcareProvider.created | date:'mediumDate'"></span>
      by
      <span data-ng-bind="healthcareProvider.user.displayName"></span>
    </em>
  </small>
</section>
