<section data-ng-controller="PrescriptionsController" data-ng-init="findOne()">
	<div class="page-header">
		<div class="pull-right" data-ng-show="(authentication.user)">
			<a class="btn btn-primary" href="/#!/prescriptions/{{prescription._id}}/edit">
				<i class="glyphicon glyphicon-edit"></i>
			</a>
			<a class="btn btn-danger" data-ng-click="remove();">
				<i class="glyphicon glyphicon-trash"></i>
			</a>
		</div>
		<h1 data-ng-bind="prescription.name"></h1>
	</div>
	<div>
		<ul class="list-group">
			<li class="list-group-item"><b>Prescribed On: </b>{{prescription.prescribedOn | date: "medium"}}</li>
			<li class="list-group-item"><b>Comments: </b>{{prescription.comments}}</li>
			<li class="list-group-item"><b>Number of Tests: </b>{{prescription._assays.length}}</li>
			<li class="list-group-item"><b>Patient Information:</b><br/><br/>
				<ul class="list-group">
					<li class="list-group-item"><b>Number: </b>{{prescription.patientNumber}}</li>
					<li class="list-group-item"><b>Gender: </b>{{prescription.patientGender}}</li>
					<li class="list-group-item"><b>Date of Birth: </b>{{prescription.patientDateOfBirth | date: "medium"}}</li>
				</ul>
			</li>
		</ul>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="prescription.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="prescription.user.displayName"></span>
		</em>
	</small>
</section>
