.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

.border-red {
    /*outline: 2px #d9534f solid;*/
    -moz-box-shadow: 1px 1px 20px #d9534f;
    -webkit-box-shadow: 1px 1px 20px #d9534f;
    box-shadow: 1px 1px 20px #d9534f;
}

.border-green {
    /*border: 3px #5cb85c solid;*/
    color: green;
}

.accordion-toggle:hover {
    color: rgba(0,0,0,0.6);
    text-decoration: none;
    cursor: pointer;
}
