@media print {
  .page-header {
    display: none;
  }
  .pagination-sm {
    display: none;
  }
}

.cartridge-label-list {
  background-color: white;
  width: 8.5in;
  height: 11in;
  margin: 0.05in 0.875in 0 1in;
  padding: 0;
}
.cartridge-label {
  float: left;
  width: 3.25in;
  height: 0.71in;
  margin-right: 1in;
}
.cartridge-label-qrcode {
  float: left;
}
.cartridge-label-name {
  position:relative;
  margin-top: 0.2em;
  left: .2in;
  font-size: medium;
  font-weight: bold;
}
.cartridge-label-date {
  position:relative;
  left: .2in;
  font-size: x-small;
}
.cartridge-label-underline {
  display: inline-block;
  margin-bottom: -0.4em;
  margin-left: 1em;
  border-bottom: 1px solid #000;
  width: 2.2in;
}
