<section data-ng-controller="TestsController" data-ng-init="findOne()">
  <div class="page-header">
    <h1>Edit Test</h1>
  </div>
  <div class="col-md-12">
    <form class="form-horizontal" data-ng-submit="update()" novalidate>
      <fieldset>
        <div class="form-group">
          <label class="control-label" for="name">Name</label>
          <div class="controls">
            <input class="form-control" data-ng-model="test.name" id="name"
              placeholder="Enter test name here" required type="text"></input>
          </div>
          <label class="control-label" for="description">Description</label>
          <div class="controls">
            <input class="form-control" data-ng-model="test.description" id="description"
              placeholder="Enter test description here" type="text"></input>
          </div>
        </div>
        <accordion close-others="true">
          <accordion-group heading="Details" is-open="showResultsOnOpen">
            <ul class="list-group">
              <li class="list-group-item">Assay: {{test._assay.name}}</li>
              <li class="list-group-item">Cartridge: {{test._cartridge.name}}</li>
            </ul>
          </accordion-group>
          <accordion-group heading="Status">
            <ul class="list-group">
              <li class="list-group-item">Status: {{test.status}}</li>
              <li class="list-group-item">Percent complete: {{test.percentComplete}}</li>
            </ul>
          </accordion-group>
          <accordion-group heading="Results">
            <ul class="list-group">
              <li class="list-group-item">Test succeeded: {{!test._cartridge.failed |
                uppercase}}</li>
              <li class="list-group-item">Value: {{test._cartridge.result}}</li>
              <li class="list-group-item">Result: {{test.result}}</li>
            </ul>
          </accordion-group>
          <accordion-group heading="BCODE">
            <small ng-bind-html="test._cartridge.bcodeString | bcode"></small>
          </accordion-group>
          <accordion-group heading="Raw Data">
            <small ng-bind-html="test._cartridge.rawData | rawtestdata"></small>
          </accordion-group>
          <accordion-group heading="Dates">
            <ul class="list-group">
              <li class="list-group-item">Test started on: {{test._cartridge.startedOn | date:
                "medium"}}</li>
              <li class="list-group-item">Test finished on: {{test._cartridge.finishedOn |
                date: "medium"}}</li>
            </ul>
          </accordion-group>
        </accordion>
        <div class="form-group">
          <input class="btn btn-default" type="submit" value="Update"></input>
          <div class="text-danger" data-ng-show="error">
            <strong data-ng-bind="error"></strong>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</section>
