<section data-ng-controller="TestsController" data-ng-init="findOne()">
  <div class="page-header">
    <h1>Edit Test</h1>
  </div>
  <div class="col-md-12">
    <form class="form-horizontal" data-ng-submit="update()" novalidate>
      <fieldset>
        <div class="form-group">
          <label class="control-label" for="name">Name</label>
          <div class="controls">
            <input type="text" data-ng-model="test.name" id="name" class="form-control" placeholder="Enter test name here" required>
          </div>
          <label class="control-label" for="description">Description</label>
          <div class="controls">
            <input type="text" data-ng-model="test.description" id="description" class="form-control" placeholder="Enter test description here">
          </div>
        </div>
        <accordion close-others="true">
          <accordion-group heading="Details" is-open="showResultsOnOpen">
            <ul class="list-group">
              <li class="list-group-item">Assay: {{test._assay.name}}</li>
              <li class="list-group-item">Cartridge: {{test._cartridge.name}}</li>
            </ul>
          </accordion-group>
          <accordion-group heading="Status">
            <ul class="list-group">
              <li class="list-group-item">Status: {{test.status}}</li>
              <li class="list-group-item">Percent complete: {{test.percentComplete}}</li>
            </ul>
          </accordion-group>
          <accordion-group heading="Results">
            <ul class="list-group">
      				<li class="list-group-item">Test succeeded: {{!test._cartridge.failed | uppercase}}</li>
              <li class="list-group-item">Result: {{test._cartridge.result}}</li>
            </ul>
          </accordion-group>
          <accordion-group heading="BCODE">
            <p>{{test._cartridge.BCODE}}</p>
          </accordion-group>
          <accordion-group heading="Dates">
            <ul class="list-group">
              <li class="list-group-item">Test started on: {{test._cartridge.startedOn | date: medium}}</li>
              <li class="list-group-item">Test finished on: {{test._cartridge.finishedOn | date: medium}}</li>
            </ul>
          </accordion-group>
        </accordion>
        <div class="form-group">
          <input type="submit" value="Update" class="btn btn-default">
        </div>
        <div data-ng-show="error" class="text-danger">
          <strong data-ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
