<section data-ng-controller="MonitorTestController" data-ng-init="setup()">
  <div class="page-header">
    <div class="col-xs-12">
      <h1>Monitor Brevitests™</h1>
    </div>
    <div class="col-xs-12">
      <div class="btn-group" role="group">
        <a class="btn btn-default" href="/#!/tests/run">Run</a>
        <a class="btn btn-default" disabled href="/#!/tests/monitor">Monitor</a>
        <a class="btn btn-default" href="/#!/tests/review">Review</a>
        <a class="btn btn-default" href="/#!/tests/export">Export</a>
      </div>
      <h5><i>Tests in Last 4 Hours, Listed by Device</i></h5>
    </div>
  </div>
  <div class="panel panel-warning col-xs-12" ng-hide="tests.length">
    <div class="panel-heading">
      No tests in progress found
    </div>
    <div class="panel-body">
      If you started a test, try refreshing this page. Also, make sure your device is
      still connected to the network - if it's not, don't panic, because your test
      will still run and store the results for later access.
    </div>
  </div>
  <div class="list-group col-xs-12">
    <a class="list-group-item" ng-repeat="test in tests">
      <h4 class="list-group-item-heading">{{test._device.name}}
        <span class="btn btn-xs" ng-class="test.status === 'Cancelled' ? 'btn-danger' : test.percentComplete < 100 ? 'btn-primary' : 'btn-default'" disabled>
          {{test.status === 'Cancelled' ? 'Cancelled' : test.percentComplete < 100 ? 'In progress' : 'Finished'}}
        </span>
        <!-- <span class="btn btn-xs btn-primary" disabled ng-show="test.percentComplete!==100">In progress</span>
        <span class="btn btn-xs btn-danger" disabled ng-show="test.status==='Cancelled'">Cancelled</span> -->
      </h4>
      <p class="list-group-item-text">
        <small>Started on {{test._cartridge.startedOn | date: "medium"}}</small><br/>
        <small>Status: {{test.status}}</small>
        <br/>
        <br/>
        <p class="col-xs-10">
          <progressbar max="100" type="warning" value="test.percentComplete">
            <span style="color:black; white-space:nowrap;">{{test.percentComplete}}</span>
          </progressbar>
        </p>
        <p class="col-xs-2"
          ng-hide="test.status==='Cancelled' || test.percentComplete===100">
          <button class="btn btn-danger btn-xs pull-right" ng-click="cancelTest($index)"
            type="button">Cancel</button>
        </p>
        <br/>
      </p>
    </a>
  </div>
</section>
