<section data-ng-controller="MonitorTestController" data-ng-init="setup()">
  <div class="page-header">
    <div class="col-xs-12">
      <h1>Manage Brevitests™</h1>
    </div>
    <div class="col-xs-12">
      <div class="btn-group" role="group">
        <a class="btn btn-default" href="/#!/prescriptions/create">Prescribe</a>
        <a class="btn btn-default" href="/#!/tests/run">Run</a>
        <a class="btn btn-default" disabled href="/#!/tests/monitor">Monitor</a>
        <a class="btn btn-default" href="/#!/tests/review">Review</a>
      </div>
      <h5><i>Tests in Last 24 Hours, Listed by Device</i></h5>
    </div>
  </div>
  <div class="panel panel-warning col-xs-12" ng-hide="tests.length">
    <div class="panel-heading">
      No tests in progress found
    </div>
    <div class="panel-body">
      If you started a test, try refreshing this page. Also, make sure your device is
      still connected to the network - if it's not, don't panic, because your test
      will still run and store the results for later access.
    </div>
  </div>
  <div class="list-group col-xs-12">
    <a class="list-group-item" ng-repeat="test in tests">
      <h4 class="list-group-item-heading">{{test._device.name}}
        <span class="btn btn-xs btn-default" disabled>{{test.percentComplete===100 ? 'Finished' : test.status==='Cancelled' ? 'Cancelled' : 'In progress'}}</span>
      </h4>
      <p class="list-group-item-text">
        <small>Started on {{test._cartridge.startedOn | date: "medium"}}</small><br/>
        <small>Status: {{test.status}}</small>
        <br/>
        <br/>
        <p class="col-xs-10">
          <progressbar max="100" type="warning" value="test.percentComplete">
            <span style="color:black; white-space:nowrap;">{{test.percentComplete}}</span>
          </progressbar>
        </p>
        <p class="col-xs-2">
          <button ng-show="{{test.status!=='Cancelled' && test.percentComplete!==100}}" class="btn btn-danger btn-xs pull-right" ng-click="cancelTest($index)"
            type="button">Cancel</button>
        </p>
        <br/>
      </p>
    </a>
  </div>
</section>
