<section data-ng-controller="RunTestController" data-ng-init="setupRun()">
  <div class="page-header">
    <h1>Run Tests</h1>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Devices</h3>
      </div>
      <div class="panel-body">
        <div class="list-group">
          <a href="" ng-repeat="device in devices" ng_click="clickDevice($index)" class="list-group-item {{activeDevice === $index ? 'active' : ''}}">{{device.name}}</a>
        </div>
        <div class="col-xs-8 col-xs-offset-2 col-md-10 col-md-offset-1">
          <button type="button" ng-click="initializeDevice()" class="btn btn-success btn-block">Initialize Device</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default" ng-show="deviceInitialized">
      <div class="panel-heading">
        <h3 class="panel-title">Prescriptions</h3>
      </div>
      <div class="panel-body">
        <accordion close-others="true">
          <accordion-group ng-repeat="prescription in prescriptions" ng-click="clickPrescription($index)">
            <accordion-heading>
              {{prescription.name}} <i class="glyphicon" ng-class="{'glyphicon-ok': $index === activePrescription}"></i>
            </accordion-heading>
            <p>Prescribed on {{prescription.prescribedOn | date: "medium"}}</p>
            <p>{{prescription.comments}}</p>
            <p><b>Assays:</b></p>
            <div class="list-group">
              <a href="" ng-repeat="assay in prescription._assays" ng_click="clickAssay($index)" class="list-group-item {{activeAssay === $index ? 'active' : ''}}">{{assay.name}}</a>
            </div>
          </accordion-group>
        </accordion>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default" ng-show="deviceInitialized && activeAssay >= 0">
      <div class="panel-heading">
        <h3 class="panel-title">Cartridges ({{cartridges.length}} available)
          <button type="button" class="btn btn-xs btn-default pull-right" ng-click="scanCartridge()">Scan</button>
        </h3>
      </div>
      <div class="panel-body">
        <div class="col-xs-8 col-xs-offset-2 col-md-10 col-md-offset-1">
          <button type="button" ng-hide="testUnderway" ng-click="beginTest()" class="btn btn-success btn-block">Run Test</button>
          <a href="/#!/tests/monitor" ng-show="testUnderway" class="btn btn-primary btn-block">Go to Test Monitoring</a>
        </div>
        <br/><br/><br/>
        <div class="list-group col-xs-12">
          <a href="" ng-repeat="cartridge in cartridges" ng_click="clickCartridge($index)" class="list-group-item {{activeCartridge === $index ? 'active' : ''}}">{{cartridge._id | uppercase}}</a>
        </div>
      </div>
    </div>
  </div>
</section>
