<section data-ng-controller="RunTestController" data-ng-init="setupRun()">
  <div class="page-header">
    <div class="col-xs-12">
      <h1>Run a Brevitest™</h1>
    </div>
    <div class="col-xs-12">
      <div class="btn-group" role="group">
        <a class="btn btn-default" disabled href="/#!/tests/run">Run</a>
        <a class="btn btn-default" href="/#!/tests/monitor">Monitor</a>
        <a class="btn btn-default" href="/#!/tests/review">Review</a>
      </div>
    </div>
    <div>&nbsp;</div>
  </div>
  <div class="col-xs-12">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Enter Test Information</h3>
        </div>
        <div class="panel-body">
          <form class="col-xs-12 form-horizontal">
            <fieldset>
              <div class="form-group">
                <label class="control-label" for="reference">Reference</label>
                <div class="controls">
                  <input class="form-control" data-ng-model="reference" id="reference" placeholder="Enter test reference here (required)" required type="text"></input>
                </div>
                <label class="control-label" for="subject">Subject ID</label>
                <div class="controls">
                  <input class="form-control" data-ng-model="subject" id="subject" placeholder="Enter test subject ID here" required type="text"></input>
                </div>
                <label class="control-label" for="description">Description</label>
                <div class="controls">
                  <input class="form-control" data-ng-model="description" id="description" placeholder="Enter test description here" type="text"></input>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <button class="btn btn-xs btn-default pull-right glyphicon glyphicon-refresh" ng-click="refresh()" type="button"></button>
          <h3 class="panel-title">Available Devices</h3>
        </div>
        <div class="panel-body">
          <div class="list-group" ng-show="devices.length">
            <a class="list-group-item {{activeDevice === $index ? 'active' : ''}}" href="" ng-repeat="device in devices" ng_click="claimDevice($index)">{{device.name}}</a>
          </div>
          <div class="col-xs-12 panel panel-warning" ng-hide="devices.length">
            <div class="panel-heading">
              No available devices found in your pool
            </div>
            <div class="panel-body">
              The device you wish to use may not be online, or may be in use on another test. Check to make sure it is plugged in, connected to the network, and not being used.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default" ng-show="activeDevice!=-1">
        <div class="panel-heading">
          <button class="btn btn-xs btn-default pull-right glyphicon glyphicon-refresh" ng-click="reloadCartridge()" type="button"></button>
          <h3 class="panel-title">Cartridge Information</h3>
        </div>
        <div class="panel-body">
          <ul class="list-group" ng-show="cartridge">
            <li class="list-group-item">
              <strong>Cartridge ID:</strong><br/>&nbsp;&nbsp;{{cartridge._id}}</li>
            <li class="list-group-item">
              <strong>Cartridge Expiration Date:</strong><br/>&nbsp;&nbsp;{{cartridge.expirationDate | date: "medium"}}</li>
            <li class="list-group-item">
              <strong>Assay:</strong><br/>&nbsp;&nbsp;{{assay.name}}</li>
          </ul>
          <button class="btn btn-success btn-block" ng-class="{disabled: activeDevice === -1}" ng-click="beginTest()" ng-show="cartridge" type="button">Run Test</button>
          <div class="col-xs-12 panel panel-warning" ng-hide="cartridge">
            <div class="panel-heading">
              No cartridge found
            </div>
            <div class="panel-body">
              The device was unable to read the cartridge QR code. Check to make sure the cartridge is properly placed in the Brevitest™ device, and click the refresh button at the upper-right corner of this box.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
