<section data-ng-controller="RunTestController" data-ng-init="setupRun()">
  <div class="page-header">
    <div class="col-xs-12">
      <h1>Run a Brevitest™</h1>
    </div>
    <div class="col-xs-12">
      <div class="btn-group" role="group">
        <a class="btn btn-default" href="/#!/prescriptions/create">Prescribe</a>
        <a class="btn btn-default" disabled href="/#!/tests/run">Run</a>
        <a class="btn btn-default" href="/#!/tests/monitor">Monitor</a>
        <a class="btn btn-default" href="/#!/tests/review">Review</a>
      </div>
    </div>
    <div>&nbsp;</div>
    <div class="col-xs-12 panel panel-warning" ng-show="!devices.length">
      <div class="panel-heading">
        No available devices found
      </div>
      <div class="panel-body">
        The device you wish to use may not be online, or may be in use on another test.
        Check to make sure it is plugged in, connected to the network, and not being
        used.
      </div>
    </div>
  </div>
  <div class="col-xs-12">
    <div><br/></div>
    <div class="col-md-4">
      <div class="panel panel-default" ng-show="devices.length">
        <div class="panel-heading">
          <button class="btn btn-xs btn-default pull-right glyphicon glyphicon-refresh"
            ng-click="refresh()" type="button"></button>
          <h3 class="panel-title">Available Devices</h3>
        </div>
        <div class="panel-body">
          <div class="list-group">
            <a class="list-group-item {{activeDevice === $index ? 'active' : ''}}" href=""
              ng-repeat="device in devices" ng_click="clickDevice($index)">{{device.name}}</a>
          </div>
          <div class="col-xs-8 col-xs-offset-2 col-md-10 col-md-offset-1">
            <button class="btn btn-success btn-block"
              ng-class="{disabled: activeDevice === -1}" ng-click="initializeDevice()" type="button">Initialize
              Device</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default" ng-show="deviceInitialized">
        <div class="panel-heading">
          <h3 class="panel-title">Prescriptions</h3>
        </div>
        <div class="panel-body">
          <accordion close-others="true">
            <accordion-group ng-click="clickPrescription($index)"
              ng-repeat="prescription in prescriptions">
              <accordion-heading>
                {{prescription.name}}
                <i class="glyphicon" ng-class="{'glyphicon-ok': $index === activePrescription}"></i>
              </accordion-heading>
              <p>Prescribed on {{prescription.prescribedOn | date: "medium"}}</p>
              <p>{{prescription.comments}}</p>
              <p><b>Pending Assays:</b></p>
              <div class="list-group">
                <a class="list-group-item {{activeAssay === $index ? 'active' : ''}}" href=""
                  ng-repeat="pendingAssay in pendingAssays" ng_click="clickAssay($index)">{{pendingAssay.name}}</a>
              </div>
              <p><b>Completed Assays:</b></p>
              <ul>
                <li ng-hide="completedAssays.length">None</li>
                <li ng-repeat="completedAssay in completedAssays">{{completedAssay.name}}</li>
              </ul>
            </accordion-group>
          </accordion>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default"
        ng-show="deviceInitialized && activeAssay !== -1">
        <div class="panel-heading">
          <h3 class="panel-title">Cartridges ({{cartridges.length}} available)
            <button class="btn btn-xs btn-default pull-right"
              ng-click="scanCartridge()" type="button">Scan</button>
          </h3>
        </div>
        <div class="panel-body">
          <div class="col-xs-8 col-xs-offset-2 col-md-10 col-md-offset-1">
            <button class="btn btn-success btn-block"
              ng-class="{disabled: activeCartridge === -1}" ng-click="beginTest()" ng-hide="testUnderway" type="button">Run
              Test</button>
            <button class="btn btn-info btn-block" ng-click="setupRun()" ng-show="testUnderway"
              type="button">Reset
              for Another Test</a>
          </div>
          <br/><br/><br/>
          <div class="list-group col-xs-12">
            <a class="list-group-item {{activeCartridge === $index ? 'active' : ''}}" href=""
              ng-repeat="cartridge in cartridges" ng_click="clickCartridge($index)">{{cartridge._id | uppercase}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
