<!-- <div data-ng-init="setupScan()"> -->
  <div class="modal-header">
    <h3 class="modal-title">Scan Cartridge QR Code</h3>
  </div>
  <div class="modal-body">
    <div ng-show="userMediaExists">
      <video id="scanVideo" width="320" height="240" autoplay></video>
    </div>
    <div ng-hide="userMediaExists">
      <form action="server.cgi" enctype="multipart/form-data" method="post">
        <input type="file" capture="camera" accept="image/*" id="cameraInput" name="cameraInput">
        <canvas ng-hide="true" id="qr-canvas" width="320" height="240"></canvas>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
<!-- </div> -->
