<!-- <div data-ng-init="setupScan()"> -->
  <div class="modal-header">
    <h3 class="modal-title">Scan Cartridge QR Code</h3>
  </div>
  <div class="modal-body">
    <div ng-show="userMediaExists">
      <video id="scanVideo" width="320" height="240" autoplay></video>
    </div>
    <div ng-hide="userMediaExists">
      <form action="server.cgi" method="post" enctype="multipart/form-data">
        <input type="file" id="scanVideo" accept="image/*" capture width="320" height="240">
      </form>
      <canvas ng-show="photoLoaded" id="qr-canvas" width="320" height="240"></canvas>
    </div>
  </div>
  <div class="modal-footer">
    <button ng-show="userMediaExists" class="btn btn-default" ng-click="startScan()">{{scansRemaining? "Scanning..." : "Restart Scan"}}</button>
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
<!-- </div> -->
