<section data-ng-controller="ManufacturersController" data-ng-init="find()">
  <div class="page-header">
    <h1>Manufacturers</h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="manufacturer in manufacturers" data-ng-href="#!/manufacturers/{{manufacturer._id}}" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="manufacturer.created | date:'medium'"></span>
        by
        <span data-ng-bind="manufacturer.user.displayName"></span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="manufacturer.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-hide="!manufacturers.$resolved || manufacturers.length">
    No Manufacturers yet, why don't you <a href="/#!/manufacturers/create">create one</a>?
  </div>
</section>
