<section data-ng-controller="DeviceModelsController">
  <div class="page-header">
    <h1>New Device model</h1>
  </div>
  <div class="col-md-12">
    <form class="form-horizontal" data-ng-submit="create()" novalidate>
      <fieldset>
        <div class="form-group">
          <label class="control-label" for="name">Name</label>
          <div class="controls">
            <input class="form-control" data-ng-model="name" id="name"
              placeholder="Enter name of device model here" required type="text"></input>
          </div>
          <label class="control-label" for="reference">Reference</label>
          <div class="controls">
            <input class="form-control" data-ng-model="reference" id="reference"
              placeholder="Enter manufacturer reference here" type="text"></input>
          </div>
          <label class="control-label" for="description">Description</label>
          <div class="controls">
            <input class="form-control" data-ng-model="description" id="description"
              placeholder="Enter description of device model here" type="text"></input>
          </div>
        </div>
        <div class="form-group">
          <input class="btn btn-default" type="submit"></input>
          <div class="text-danger" data-ng-show="error">
            <strong data-ng-bind="error"></strong>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</section>
