<section data-ng-controller="SparksController" data-ng-init="findOne()">
  <div class="page-header">
    <h1>Edit Spark</h1>
  </div>
  <div class="col-md-12">
    <form class="form-horizontal" data-ng-submit="update()" novalidate>
      <fieldset>
        <div class="form-group">
          <label class="control-label" for="name">Name</label>
          <div class="controls">
            <input class="form-control" data-ng-model="spark.name" id="name" placeholder="Name"
              required type="text"></input>
          </div>
          <label class="control-label" for="sparkID">Spark ID</label>
          <div class="controls">
            <p class="input-group">
              <input class="form-control" data-ng-model="spark.sparkID" id="sparkID"
                placeholder="Spark ID (32 hex digits)" required type="text"></input>
              <span class="input-group-btn">
                <button class="btn btn-default" ng-click="reflash()" type="button">Reflash
                  Firmware</button>
              </span>
            </p>
          </div>
          <button class="btn btn-primary" ng-click="getNumberOfRecords()" type="button">Get
            Number of Records</button>
            <br/>
            <br/>
            <br/>
          <button class="btn btn-danger" ng-click="eraseArchivedData()" type="button">Erase
            Archived Data</button>
        </div>
        <br/>
        <div class="form-group">
          <input class="btn btn-default" type="submit" value="Update"></input>
          <div class="text-danger" data-ng-show="error">
            <strong data-ng-bind="error"></strong>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</section>
