<section data-ng-controller="SparksController" data-ng-init="findOne()">
  <div class="page-header">
    <h1>Edit Spark</h1>
  </div>
  <div class="col-md-12">
    <form class="form-horizontal" data-ng-submit="update()" novalidate>
      <fieldset>
        <div class="form-group">
          <label class="control-label" for="name">Name</label>
          <div class="controls">
            <input type="text" data-ng-model="spark.name" id="name" class="form-control" placeholder="Name" required>
          </div>
          <label class="control-label" for="sparkID">Spark ID</label>
          <div class="controls">
            <input type="text" data-ng-model="spark.sparkID" id="sparkID" class="form-control" placeholder="Spark ID (32 hex digits)" required>
          </div>
          <br/>
          <br/>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary" ng-click="getNumberOfRecords()">Get Number of Records</button>
            <button type="button" class="btn btn-primary" ng-click="getFirstRecord()">Get First Record</button>
            <button type="button" class="btn btn-danger" ng-click="eraseArchivedData()">Erase Archived Data</button>
          </div>
        </div>
        <textarea cols="60" rows="10">{{rawData | rawtestdata}}</textarea>
        <div>
        </div>
        <div class="form-group">
          <input type="submit" value="Update" class="btn btn-default">
        </div>
        <div data-ng-show="error" class="text-danger">
          <strong data-ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
