<section data-ng-controller="SparksController" data-ng-init="findOne()">
	<div class="page-header">
		<div class="pull-right" data-ng-show="(authentication.user)">
			<a class="btn btn-primary" href="/#!/sparks/{{spark._id}}/edit">
				<i class="glyphicon glyphicon-edit"></i>
			</a>
			<a class="btn btn-danger" data-ng-click="remove();">
				<i class="glyphicon glyphicon-trash"></i>
			</a>
		</div>
		<h1 data-ng-bind="spark.name"></h1>
	</div>
	<div>
		<ul class="list-group">
			<li class="list-group-item"><b>ID: </b>{{spark.sparkID}}</li>
			<li class="list-group-item"><b>Connected: </b>{{spark.connected | uppercase}}</li>
			<li class="list-group-item"><b>Last Heard: </b>{{spark.lastHeard | date: "medium"}}</li>
			<li class="list-group-item"><b>Last IP Address: </b>{{spark.lastIpAddress}}</li>
		</ul>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="spark.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="spark.user.displayName"></span>
		</em>
	</small>
</section>
