<section data-ng-controller="SuperusersController" data-ng-init="findOne()">
    <div data-ng-hide="!(superuser.firstName)">
        <div class="page-header">
          <div>
            <span data-ng-bind="superuser.displayName" class="h1"></span>&nbsp;&nbsp;
            <img data-ng-if="hasRole('superuser')" src="modules/superusers/imgs/crown128.png" style="width:3em; line-height: 1.1; vertical-align:top""/>
          </div>
        </div>
        <div class="pull-right">
            <a class="btn btn-primary" href="/#!/superusers/{{superuser._id}}/edit">
                <i class="glyphicon glyphicon-edit"></i>
            </a>
            <a class="btn btn-danger" data-ng-click="remove(superuser);">
                <i class="glyphicon glyphicon-trash"></i>
            </a>
        </div>
        <small>
            <em class="text-muted pull-left">
                Posted on
                <span data-ng-bind="superuser.created | date:'mediumDate'"></span>
            </em>
        </small>
        <ul class="list-group" style="margin-top:75px">
            <li class="list-group-item"><strong>First Name</strong>: <span data-ng-bind="superuser.firstName"></span></li>
            <li class="list-group-item"><strong>Last Name</strong>: <span data-ng-bind="superuser.lastName"></span></li>
            <li class="list-group-item"><strong>Full Name</strong>: <span data-ng-bind="superuser.displayName"></span></li>
            <li class="list-group-item"><strong>Email</strong>: <span data-ng-bind="superuser.email"></span></li>
            <li class="list-group-item"><strong>Username</strong>: <span data-ng-bind="superuser.username"></span></li>
            <li class="list-group-item"><strong>Password</strong>: <span data-ng-bind="superuser.password"></span></li>
            <li class="list-group-item"><strong>Salt</strong>: <span data-ng-bind="superuser.salt"></span></li>
            <li class="list-group-item"><strong>Provider</strong>: <span data-ng-bind="superuser.provider"></span></li>
            <li class="list-group-item"><strong>Roles</strong>: <span data-ng-bind="superuser.roles"></span></li>
        </ul>
    </div>
    <!--<div data-ng-hide="(superuser.firstName)">-->
        <!--<div class="alert alert-danger text-center" style="margin-top:15%;">-->
            <!--<i class="fa fa-exclamation"></i> User successfully deleted. Go back to <a href="/#!/superusers">managing users.</a>-->
        <!--</div>-->
    <!--</div>-->
    <span ng-show="superuser.firstName" ng-cloak>
        <div data-ng-hide="(superuser.roles.indexOf('user') > -1)">
            <div class="alert alert-danger text-center">
                <i class="fa fa-exclamation"></i> User requesting authentication. User currently has no permissions. <a href="/#!/superusers/{{superuser._id}}/edit">Edit user permissions</a>.
            </div>
        </div>
    </span>
</section>
