<section data-ng-controller="AssaysController" data-ng-init="findOne()">
  <div class="page-header">
    <h1>Edit Assay</h1>
  </div>
  <form class="form-horizontal" data-ng-submit="update()" novalidate>
    <fieldset>
      <div class="form-group">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Information and Inventory</h3>
            </div>
            <div class="panel-body">
              <label class="control-label" for="name">Name</label>
              <div class="controls">
                <input type="text" data-ng-model="assay.name" id="name" class="form-control" placeholder="Enter the name of the assay here" required>
              </div>
              <label class="control-label" for="reference">Reference</label>
              <div class="controls">
                <input type="text" data-ng-model="assay.reference" id="reference" class="form-control" placeholder="Enter reference number from manufacturer here">
              </div>
              <label class="control-label" for="description">Description</label>
              <div class="controls">
                <input type="text" data-ng-model="assay.description" id="description" class="form-control" placeholder="Enter description of the assay here">
              </div>
              <label class="control-label" for="url">URL</label>
              <div class="controls">
                <input type="text" data-ng-model="assay.url" id="url" class="form-control" placeholder="Enter URL for more information here">
              </div>
              <div class="col-xs-6 col-md-4 col-md-offset-2">
                <br/>
                <button type="button" ng-click="make10Cartridges()" class="btn btn-primary">Make 10 Cartridges</button>
              </div>
              <div class="col-xs-6 col-md-4">
                <label class="control-label" for="cartridgeInventory">Cartridge Inventory</label>
                <input type="text" readonly data-ng-model="cartridgeInventory" id="cartridgeInventory" class="form-control">
              </div>
              <br/>
              <div class="col-md-12">
                <alert ng-repeat="iAlert in invAlerts" type="{{iAlert.type}}" close="closeInvAlert($index)">{{iAlert.msg}}</alert>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Cut Scores</h3>
            </div>
            <div class="panel-body">
              <label class="control-label" for="redMax">Positive (high)</label>
              <div class="controls">
                <input type="number" data-ng-model="assay.analysis.redMax" id="redMax" class="form-control" placeholder="Enter value above which test is positive">
              </div>
              <label class="control-label" for="greenMax">Negative (high)</label>
              <div class="controls">
                <input type="number" data-ng-model="assay.analysis.greenMax" id="greenMax" class="form-control" placeholder="Enter value above which test is borderline high">
              </div>
              <label class="control-label" for="greenMin">Negative (low)</label>
              <div class="controls">
                <input type="number" data-ng-model="assay.analysis.greenMin" id="greenMin" class="form-control" placeholder="Enter value below which test is borderline low">
              </div>
              <label class="control-label" for="redMin">Positive (low)</label>
              <div class="controls">
                <input type="number" data-ng-model="assay.analysis.redMin" id="redMin" class="form-control" placeholder="Enter value below which test is positive">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Standard Curve</h3>
            </div>
            <div class="panel-body">
              <div class="col-xs-4">
                <div align="center">X</div>
              </div>
              <div class="col-xs-4">
                <div align="center">Y</div>
              </div>
              <div class="col-xs-4">
                &nbsp;
              </div>
              <div class="row" ng-repeat="point in standardCurve">
                <div class="col-xs-4">
                  <input type="number" data-ng-model="point.x" id="analysis" class="form-control">
                </div>
                <div class="col-xs-4">
                  <input type="number" data-ng-model="point.y" id="analysis" class="form-control">
                </div>
                <div class="col-xs-4">
                  <button type="button" ng-click="stdCurveDelete($index)" vertical-align="middle" class="btn btn-xs btn-danger">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  </button>
                </div>
              </div>
              <hr/>
              <div class="col-xs-12">
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                  <div class="btn-group" role="group">
                    <button type="button" ng-click="stdCurveSort()" class="btn btn-warning">Sort</button>
                  </div>
                  <div class="btn-group" role="group">
                    <button type="button" ng-click="stdCurveAppend()" class="btn btn-success">Append</button>
                  </div>
                  <div class="btn-group" role="group">
                    <button type="button" ng-click="stdCurvePrepend()" class="btn btn-success">Prepend</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">BCODE</h3>
          </div>
          <div class="panel-body">
            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <span ng-show="estimatedTime > 0">
                    <h3 class="panel-title">Current Sequence
                      <h5>(estimated time: {{estimatedTime / 60 | number: 0}} min {{estimatedTime % 60 | number: 0}} sec.)</h5>
                    </h3>
                  </span>
                  <span ng-hide="estimatedTime > 0">
                    <h3 class="panel-title">Unbalanced repeats - estimated time cannot be calculated</h3>
                  </span>
                </div>
                <div class="panel-body">
                  <div class="list-group">
                    <a href="" ng-repeat="code in BCODE" ng_click="clickBCODECode($index)" class="list-group-item {{activeBCODE === $index ? 'active' : ''}}">{{code.command}}&nbsp;[&nbsp;{{code.params}}&nbsp;]</a>
                  </div>
                </div>
              </div>
              <div class="btn-group btn-group-justified" role="group" aria-label="...">
                <div class="btn-group" role="group">
                  <button type="button" ng-click="saveBCODE()" class="btn btn-default">Save</button>
                </div>
                <div class="btn-group" role="group">
                  <button type="button" ng-click="revertBCODE()" class="btn btn-default">Revert</button>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Add/Edit Command</h3>
                </div>
                <div class="panel-body">
                  <div class="col-md-6">
                    <label class="control-label" for="command">Command</label>
                    <div class="controls">
                      <select class="btn btn-default btn-lg" ng-model="command" ng-change="changeCommand()" ng-options="cmd.name as cmd.name for cmd in BCODECommands">
                        <option value="">-- Select Command --</option>
                      </select>
                    </div>
                    <label class="control-label" for="params">Parameters</label>
                    <div class="controls">
                      <input type="text" data-ng-model="params" id="params" class="form-control" placeholder="Enter parameters here (comma separated)">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div align="center"><b>Description</b></div>
                    <small>{{commandDescription}}</small>
                    <hr/>
                  </div>
                  <div class="col-md-12">
                    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
                    <div class="btn-group-vertical" role="group" aria-label="...">
                      <h4 align="center">Move</h4>
                      <button type="button" ng-click="moveBCODETop()" class="btn btn-info">Top</button>
                      <button type="button" ng-click="moveBCODEUp()" class="btn btn-info">Up</button>
                      <button type="button" ng-click="moveBCODEDown()" class="btn btn-info">Down</button>
                      <button type="button" ng-click="moveBCODEBottom()" class="btn btn-info">Bottom</button>
                    </div>
                    <div class="btn-group-vertical" role="group" aria-label="...">
                      <h4 align="center">Add</h4>
                      <button type="button" ng-click="insertBCODETop()" class="btn btn-success">Top</button>
                      <button type="button" ng-click="insertBCODEAbove()" class="btn btn-success">Above</button>
                      <button type="button" ng-click="insertBCODEBelow()" class="btn btn-success">Below</button>
                      <button type="button" ng-click="insertBCODEBottom()" class="btn btn-success">Bottom</button>
                    </div>
                    <div class="btn-group-vertical" role="group" aria-label="...">
                      <h4 align="center">Clipboard</h4>
                      <button type="button" ng-click="cutBCODE()" class="btn btn-default">Cut</button>
                      <button type="button" ng-click="copyBCODE()" class="btn btn-default">Copy</button>
                      <button type="button" ng-click="copyAllBCODE()" class="btn btn-default">Copy All</button>
                      <button type="button" ng-click="pasteBCODE()" class="btn btn-default">Paste</button>
                    </div>
                    <div class="btn-group-vertical" style="vertical-align: top" role="group" aria-label="...">
                      <h4 vertical-align="top" align="center">Update</h4>
                      <button type="button" ng-click="updateBCODE()" class="btn btn-primary">Update</button>
                    </div>
                    <div class="btn-group-vertical" style="vertical-align: bottom" role="group" aria-label="...">
                      <h4 align="center">Delete</h4>
                      <button type="button" ng-click="deleteBCODE()" class="btn btn-danger">Delete One</button>
                      <button type="button" ng-click="deleteAllBCODE()" class="btn btn-danger">Delete All</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <input type="submit" value="Update" class="btn btn-default">
      </div>
      <div data-ng-show="error" class="text-danger">
        <strong data-ng-bind="error"></strong>
      </div>
    </fieldset>
  </form>
</section>
