<section data-ng-controller="AssaysController" data-ng-init="findOne()">
  <div class="page-header">
    <h1>Edit Assay</h1>
  </div>
  <form class="form-horizontal" data-ng-submit="update()" novalidate>
    <fieldset>
      <div class="form-group">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Information and Inventory</h3>
            </div>
            <div class="panel-body">
              <label class="control-label" for="name">Name</label>
              <div class="controls">
                <input class="form-control" data-ng-model="assay.name" id="name"
                  placeholder="Enter the name of the assay here" required type="text"></input>
              </div>
              <label class="control-label" for="reference">Reference</label>
              <div class="controls">
                <input class="form-control" data-ng-model="assay.reference" id="reference"
                  placeholder="Enter reference number from manufacturer here" type="text"></input>
              </div>
              <label class="control-label" for="description">Description</label>
              <div class="controls">
                <input class="form-control" data-ng-model="assay.description" id="description"
                  placeholder="Enter description of the assay here" type="text"></input>
              </div>
              <label class="control-label" for="url">URL</label>
              <div class="controls">
                <input class="form-control" data-ng-model="assay.url" id="url"
                  placeholder="Enter URL for more information here" type="url"></input>
              </div>
              <div class="col-xs-6 col-md-4 col-md-offset-2">
                <br/>
                <button class="btn btn-primary" ng-click="make10Cartridges()" type="button">Make
                  10 Cartridges</button>
              </div>
              <div class="col-xs-6 col-md-4">
                <label class="control-label" for="cartridgeInventory">Cartridge
                  Inventory</label>
                <input class="form-control" data-ng-model="cartridgeInventory"
                  id="cartridgeInventory" readonly type="text"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Cut Scores</h3>
            </div>
            <div class="panel-body">
              <label class="control-label" for="redMax">Positive (high)</label>
              <div class="controls">
                <input class="form-control" data-ng-model="assay.analysis.redMax" id="redMax"
                  placeholder="Enter value above which test is positive" type="number"></input>
              </div>
              <label class="control-label" for="greenMax">Negative (high)</label>
              <div class="controls">
                <input class="form-control" data-ng-model="assay.analysis.greenMax" id="greenMax"
                  placeholder="Enter value above which test is borderline high" type="number"></input>
              </div>
              <label class="control-label" for="greenMin">Negative (low)</label>
              <div class="controls">
                <input class="form-control" data-ng-model="assay.analysis.greenMin" id="greenMin"
                  placeholder="Enter value below which test is borderline low" type="number"></input>
              </div>
              <label class="control-label" for="redMin">Positive (low)</label>
              <div class="controls">
                <input class="form-control" data-ng-model="assay.analysis.redMin" id="redMin"
                  placeholder="Enter value below which test is positive" type="number"></input>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Standard Curve</h3>
            </div>
            <div class="panel-body">
              <div class="col-xs-4">
                <div align="center">X</div>
              </div>
              <div class="col-xs-4">
                <div align="center">Y</div>
              </div>
              <div class="col-xs-4">
                &nbsp;
              </div>
              <div class="row" ng-repeat="point in standardCurve">
                <div class="col-xs-4">
                  <input class="form-control" data-ng-model="point.x" id="analysis" type="number"></input>
                </div>
                <div class="col-xs-4">
                  <input class="form-control" data-ng-model="point.y" id="analysis" type="number"></input>
                </div>
                <div class="col-xs-4">
                  <button class="btn btn-xs btn-danger" ng-click="stdCurveDelete($index)"
                    type="button" vertical-align="middle">
                    <span aria-hidden="true" class="glyphicon glyphicon-remove"></span>
                  </button>
                </div>
              </div>
              <hr/>
              <div class="col-xs-12">
                <div aria-label="..." class="btn-group btn-group-justified" role="group">
                  <div class="btn-group" role="group">
                    <button class="btn btn-warning" ng-click="stdCurveSort()" type="button">Sort</button>
                  </div>
                  <div class="btn-group" role="group">
                    <button class="btn btn-success" ng-click="stdCurveAppend()" type="button">Append</button>
                  </div>
                  <div class="btn-group" role="group">
                    <button class="btn btn-success" ng-click="stdCurvePrepend()" type="button">Prepend</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">BCODE</h3>
            </div>
            <div class="panel-body">
              <div class="col-md-6">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <div ng-hide="{{estimatedTime<0}}">
                      <h3 class="panel-title">Current Sequence
                        <h5>(estimated time: {{estimatedTime / 60 | number: 0}} min {{estimatedTime % 60 | number: 0}} sec.)</h5>
                      </h3>
                    </div>
                    <div ng-hide="{{estimatedTime>=0}}">
                      <h3 class="panel-title">Unbalanced repeats - estimated time cannot be
                        calculated</h3>
                    </div>
                  </div>
                  <div class="panel-body">
                    <div class="list-group">
                      <a class="list-group-item {{activeBCODE === $index ? 'active' : ''}}" href=""
                        ng-repeat="code in BCODE" ng_click="clickBCODECode($index)">{{code.command}}&nbsp;[&nbsp;{{code.params}}&nbsp;]</a>
                    </div>
                  </div>
                </div>
                <div aria-label="..." class="btn-group btn-group-justified" role="group">
                  <div class="btn-group" role="group">
                    <button class="btn btn-default" ng-click="saveBCODE()" type="button">Save</button>
                  </div>
                  <div class="btn-group" role="group">
                    <button class="btn btn-default" ng-click="revertBCODE()" type="button">Revert</button>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Add/Edit Command</h3>
                  </div>
                  <div class="panel-body">
                    <div class="col-md-6">
                      <label class="control-label" for="command">Command</label>
                      <div class="controls">
                        <select class="btn btn-default btn-lg" ng-change="changeCommand()"
                          ng-model="command" ng-options="cmd.name as cmd.name for cmd in BCODECommands">
                          <option value="">-- Select Command --</option>
                        </select>
                      </div>
                      <label class="control-label" for="params">Parameters</label>
                      <div class="controls">
                        <input class="form-control" data-ng-model="params" id="params"
                          placeholder="Enter parameters here (comma separated)" type="text"></input>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div align="center"><b>Description</b></div>
                      <small>{{commandDescription}}</small>
                      <hr/>
                    </div>
                    <div class="col-md-12">
                      <div aria-label="..." class="btn-group-vertical" role="group">
                        <h4 align="center">Move</h4>
                        <button class="btn btn-info" ng-click="moveBCODETop()" type="button">Top</button>
                        <button class="btn btn-info" ng-click="moveBCODEUp()" type="button">Up</button>
                        <button class="btn btn-info" ng-click="moveBCODEDown()" type="button">Down</button>
                        <button class="btn btn-info" ng-click="moveBCODEBottom()" type="button">Bottom</button>
                      </div>
                      <div aria-label="..." class="btn-group-vertical" role="group">
                        <h4 align="center">Add</h4>
                        <button class="btn btn-success" ng-click="insertBCODETop()" type="button">Top</button>
                        <button class="btn btn-success" ng-click="insertBCODEAbove()" type="button">Above</button>
                        <button class="btn btn-success" ng-click="insertBCODEBelow()" type="button">Below</button>
                        <button class="btn btn-success" ng-click="insertBCODEBottom()" type="button">Bottom</button>
                      </div>
                      <div aria-label="..." class="btn-group-vertical" role="group">
                        <h4 align="center">Clipboard</h4>
                        <button class="btn btn-default" ng-click="cutBCODE()" type="button">Cut</button>
                        <button class="btn btn-default" ng-click="copyBCODE()" type="button">Copy</button>
                        <button class="btn btn-default" ng-click="copyAllBCODE()" type="button">Copy
                          All</button>
                        <button class="btn btn-default" ng-click="pasteBCODE()" type="button">Paste</button>
                      </div>
                      <div aria-label="..." class="btn-group-vertical" role="group"
                        style="vertical-align: top">
                        <h4 align="center" vertical-align="top">Update</h4>
                        <button class="btn btn-primary" ng-click="updateBCODE()" type="button">Update</button>
                      </div>
                      <div aria-label="..." class="btn-group-vertical" role="group"
                        style="vertical-align: bottom">
                        <h4 align="center">Delete</h4>
                        <button class="btn btn-danger" ng-click="deleteBCODE()" type="button">Delete
                          One</button>
                        <button class="btn btn-danger" ng-click="deleteAllBCODE()" type="button">Delete
                          All</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-11 col-xs-offset-1">
          <div class="form-group">
            <input class="btn btn-default" type="submit" value="Update"></input>
            <div class="text-danger" data-ng-show="error">
              <strong data-ng-bind="error"></strong>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
</section>
