<section data-ng-controller="ProvidersController" data-ng-init="find()">
    <div class="page-header">
        <h1>Providers</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="provider in providers" data-ng-href="#!/providers/{{provider._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="provider.created | date:'medium'"></span>
				by
				<span data-ng-bind="provider.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="provider.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!providers.$resolved || providers.length">
    	No Providers yet, why don't you <a href="/#!/providers/create">create one</a>?
    </div>
</section>