<section data-ng-controller="AssaysController" data-ng-init="find()">
    <div class="page-header">
        <h1>Assays</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="assay in assays" data-ng-href="#!/assays/{{assay._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="assay.createdOn | date:'medium'"></span>
				by
				<span data-ng-bind="assay._createdBy.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="assay.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!assays.$resolved || assays.length">
    	No Assays yet, why don't you <a href="/#!/assays/create">create one</a>?
    </div>
</section>
