<section data-ng-controller="AssaysController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="assay.name"></h1>
		<h3 data-ng-bind="assay.reference"></h3>
		<h3 data-ng-bind="assay.description"></h3>
		<h3 data-ng-bind="assay.url"></h3>
		<h3 data-ng-bind="assay.BCODE"></h3>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == assay.user._id))">
		<a class="btn btn-primary" href="/#!/assays/{{assay._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="assay.createdOn | date:'mediumDate'"></span>
			by
			<span data-ng-bind="assay._createdBy.displayName"></span>
		</em>
	</small>
</section>
