<section class="cartridge-label-list"
  data-ng-controller="CartridgeLabelsController" data-ng-init="load()">
  <div class="page-header">
    <pagination boundary-links="true" class="pagination-sm" first-text="&laquo;"
      last-text="&raquo;" max-size="8" next-text="&rsaquo;" ng-change="pageChanged()" ng-model="currentPage"
      previous-text="&lsaquo;" total-items="totalItems"></pagination>
    <div>
      <label class="control-label" for="skips">Label Offset</label>
      <input data-ng-model="skips" style="width:50px" id="description" ng-change="adjustSkips()"
        placeholder="Number of labels missing from sheet" type="number"></input>
      <button class="btn btn-default" ng-click="load()">Reset</button>
    </div>
  </div>
  <!-- <div class="col-md-6"> -->
  <div data-ng-repeat="cartridge in cartridges">
    <div class="cartridge-label" ng-click="dropLabel($index)" tooltip="Click to remove from printing set" tooltip-placement="left" ng-style="{'visibility': cartridge._id === 'nothing' ? 'hidden' : 'visible'}">
      <div class="cartridge-label-qrcode">
        <qrcode tooltip="{{cartridge._id}}"  tooltip-placement="right" error-correction-level="M" version="2" size="40" data="{{cartridge._id}}" download></qrcode>
      </div>
      <div class="cartridge-label-name">{{cartridge._assay.name}}</div>
      <div class="cartridge-label-date">Exp date: {{cartridge.expirationDate | date:
        "short"}}</div>
      <div class="cartridge-label-underline"></div>
    </div>
  </div>
</section>
