<section data-ng-controller="CartridgesController" data-ng-init="load()">
    <div class="page-header">
        <h1>Cartridges</h1>
        <pagination boundary-links="true" class="pagination-sm" total-items="totalItems" max-size="8" ng-model="currentPage" ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
    </div>
    <div class="list-group">
        <a data-ng-repeat="cartridge in cartridges" data-ng-href="#!/cartridges/{{cartridge._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="cartridge.created | date:'medium'"></span>
				by
				<span data-ng-bind="cartridge.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="cartridge.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!cartridges.$resolved || cartridges.length">
    	No Cartridges yet, why don't you <a href="/#!/cartridges/create">create one</a>?
    </div>
</section>
