<section data-ng-controller="CartridgesController" data-ng-init="findOne()">
  <div class="page-header">
    <div class="pull-right" data-ng-show="(authentication.user)">
      <a class="btn btn-primary" href="/#!/cartridges/{{cartridge._id}}/edit">
        <i class="glyphicon glyphicon-edit"></i>
      </a>
      <a class="btn btn-danger" data-ng-click="remove();">
        <i class="glyphicon glyphicon-trash"></i>
      </a>
    </div>
    <h2 data-ng-bind="cartridge.name"></h2>
  </div>
  <div>
    <accordion close-others="true">
      <accordion-group heading="Result" is-open="showResultsOnOpen">
        <ul class="list-group">
          <li class="list-group-item">Test succeeded: {{!cartridge.failed |
            uppercase}}</li>
          <li class="list-group-item">Value: {{cartridge.result | number: 3}}</li>
        </ul>
      </accordion-group>
      <accordion-group heading="BCODE">
        <small ng-bind-html="cartridge.bcodeString | bcode"></small>
      </accordion-group>
      <accordion-group heading="Raw Data">
        <small ng-bind-html="cartridge.rawData | rawtestdata"></small>
      </accordion-group>
      <accordion-group heading="Dates">
        <ul class="list-group">
          <li class="list-group-item">Manufactured on: {{cartridge.manufacturedOn | date:
            medium}}</li>
            <li class="list-group-item">Expiration date: {{cartridge.expirationDate | date:
              medium}}</li>
          <li class="list-group-item">Ordered on: {{cartridge.orderedOn | date:
            medium}}</li>
          <li class="list-group-item">Registered on: {{cartridge.registeredOn | date:
            medium}}</li>
          <li class="list-group-item">Test started on: {{cartridge.startedOn | date:
            medium}}</li>
          <li class="list-group-item">Test finished on: {{cartridge.finishedOn | date:
            medium}}</li>
        </ul>
      </accordion-group>
    </accordion>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span data-ng-bind="cartridge.created | date:'mediumDate'"></span>
      by
      <span data-ng-bind="cartridge.user.displayName"></span>
    </em>
  </small>
</section>
